<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Etes vous sûr de vouloir supprimer ce post ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-border-secondary" data-bs-dismiss="modal">Non</button>
        <a type="button" class="btn btn-success" href="{{ path('app_post_delete', {'id': post.id}) }}">Oui</a>
      </div>
    </div>
  </div>
</div>