{% extends 'base.html.twig' %}

{% block title %}Forum
{% endblock %}


{% block body %}
	{% include('navbar.html.twig') %}
	{% include "modal/modal_delete_post.html.twig" %}


	<div class="container pt-5">
		<div class="d-flex justify-content-between w-100 text-wrap text-break">
			<div>
				<div class="lato text-success fs-1 w-100 ">
					{{ post.name }}
				</div>
				<div class="lato text-success fs-5 mt-5 w-100 ">
					{{ post.content }}
				</div>

				<div class="lato text-success fs-5 mt-5">
					{{ post.user.pseudonyme}}
				</div>
				<div class="lato text-success fs-6">
					{{ post.date|date("d/m/Y") }}
				</div>

				{% if post.user.id is defined and post.user.id == currentUser.id %}
					<button class="btn btn-success lato link-light" data-bs-toggle="modal" data-bs-target="#modalDelete">Supprimer ce post</button>
				{% endif %}
			</div>
		</div>
	</div>

	{% include('post_reponse/show.html.twig') %}
	{% include('post_reponse/reponse.html.twig') %}
    
    {% include "footer.html.twig" %}
{% endblock %}
